body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#startButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: skyblue;
    border: none;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

#startButton:hover {
    background-color: deepskyblue;
}

#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
    max-width: 90%;
    height: 70vh;
    display: block;
}

/* Responsive for smaller screens */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }

    #startButton {
        font-size: 1rem;
    }
}
